@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,400;1,500;1,700;1,900&display=swap");

.banner {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
}

.orange-color {
  color: #c18107;
}
