@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,400;1,500;1,700;1,900&display=swap");

/*=================== navbar style ================== */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  background-color: rgb(201, 200, 200);
}
.navbar img {
  width: 10%;
}

.menu-wrapper a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 18px;
  margin-right: 28px;
  color: black;
  font-weight: 500;
  transition: 0.5s;
  letter-spacing: -0.1px;
}

.menu-wrapper a:hover {
  color: #df9e25;
}

/*============== media query in navbar =============== */
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .menu-wrapper a {
    display: none;
  }
  .banner h1 {
    font-size: 38px;
  }
  .about-wrapper {
    max-width: 90%;
  }
}
