/*=================== banner style =================== */
.banner {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
}

.orange-color {
  color: #c18107;
}

/*===================== courses style ==================== */
.main-wrapper {
  font-family: "Roboto", sans-serif;
}

.course {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin: 0 20px;
}

.course-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 28px;
  margin: 30px;
}
