/*=================== banner style =================== */
.banner {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
}

.orange-color {
  color: #c18107;
}

/*===================== courses style ==================== */
.main-wrapper {
  font-family: "Roboto", sans-serif;
}

.course {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin: 0 20px;
}

.course-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 28px;
  margin: 30px;
}
.cart-wrapper {
  text-align: center;
}
.cart-wrapper h4 {
}
.reset-btn {
  margin-right: 10px;
  border-radius: 7px;
  border: none;
  padding: 10px 22px;
  transition: 0.6s;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: #d82148;
  color: #ffffff;
}
.random-btn {
  margin-right: 10px;
  border-radius: 7px;
  border: none;
  padding: 10px 22px;
  transition: 0.6s;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.random-btn:hover {
  background-color: #c18107;
  color: #ffffff;
}
